<div class="ai1ec-default-filters ai1ec-form-group">
	<label class="ai1ec-control-label ai1ec-col-sm-3">
		{{ label }}
	</label>
	<div>
		<div class="osec-two-col">
			{% if categories is defined %}
				<div class="select2-container select2-container-multi">
					{{ categories | raw }}
				</div>
			{% endif %}
			{% if tags is defined %}
				<div class="select2-container select2-container-multi">
					{{ tags | raw }}
				</div>
			{% endif %}
		</div>
		<div class="ai1ec-help-block">
			{{ help | raw }}
		</div>
	</div>
</div>
