//
// @file Source of osec-admin-pge-edit-event.css
//       Manual compilation process is required.
//
#wpbody-content {
  max-width: 68rem;
}
#osec-time-and-date-box {
  // Short label need less space
  .form-table th {
    width: 120px;
    //vertical-align: middle;
  }

  .osec_start-date-input-group {
    padding: 6px 6px;

    @media screen and (min-width: 783px) {
      & {
        background: linear-gradient(to right,  rgba(246,246,247,1) 0%,rgba(255,255,255,0) 100%);
      }
    }

    & > div {
      padding-bottom: 12px;
      &:last-of-type {
        padding-bottom: 0;
      }
    }

    .ai1ec-form-control {
      background-color: white;
      width: auto;
      display: inline-block;

      margin-bottom: 6px;

      @media screen and (min-width: 783px) {
        margin-bottom: 0;
      }
    }
  }

  // Fix: Wp responsive form-table styles crashing DatePicker.
  .calendricalDatePopup td,
  .calendricalDatePopup  th {
    display: table-cell !important;
  }

}
