<div class="wrap">
    <h2>{{ title }}</h2>
    <div id="poststuff">
        <form method="post" action="" enctype="multipart/form-data">
            {% for nonce in nonces %}
                {{ nonce|raw }}
            {% endfor %}
            <div class="metabox-holder">
                <div class="post-box-container column-1-ai1ec left-side timely">
                    {{ do_meta_boxes( metabox_left.screen, metabox_left.context, metabox_left.data_object ) }}
                </div>
                <div class="post-box-container column-2-ai1ec right-side timely">
                    {{ do_meta_boxes( metabox_right.screen, metabox_right.context, metabox_right.data_object ) }}
                </div>
            </div>
        </form>
    </div>
</div>
