#poststuff {
  max-width: 70rem;
}
#poststuff .postbox-container {
  max-width: 50rem;
}
#poststuff .inside:after {
  content: ' ';
  display: table;
  clear: both;
}
.ai1ec-form-group {
  display: block;
}
.ai1ec-form-group::after {
  content: ' ';
  display: table;
  clear: both;
}
.ai1ec-form-group > .textarea > textarea {
  width: calc(100% - 26px);
}
.ai1ec-form-group > .wide,
.ai1ec-form-group > .checkbox {
  width: 100%;
  display: block;
}
.ai1ec-form-group > .wide .ai1ec-help-block,
.ai1ec-form-group > .checkbox .ai1ec-help-block,
.ai1ec-form-group > .wide .ai1ec-help-block,
.ai1ec-form-group > .checkbox .ai1ec-help-block {
  padding-top: 0.3em;
  padding-left: 26px;
}
@media screen and (min-width: 783px) {
  .ai1ec-form-group {
    display: flex;
    align-items: center;
  }
}
.ai1ec-form-group > label,
.ai1ec-form-group > div {
  display: block;
  margin-bottom: 0;
  padding: 4px 0 6px;
  width: 100%;
  font-size: 14px;
}
@media screen and (min-width: 783px) {
  .ai1ec-form-group > label,
  .ai1ec-form-group > div {
    width: auto;
  }
}
.ai1ec-form-group label {
  line-height: 1.3;
  font-weight: 600;
}
.ai1ec-form-group > label {
  width: 200px;
  text-align: left;
}
@media screen and (min-width: 783px) {
  .ai1ec-form-group > label {
    vertical-align: top;
    padding: 20px 10px 20px 0;
    width: 200px;
  }
}
.ai1ec-form-group > label:only-child,
.ai1ec-form-group > div:only-child {
  width: 100%;
}
@media screen and (min-width: 783px) {
  .osec-two-col {
    display: flex;
    justify-content: space-between;
  }
  .osec-two-col > div {
    width: calc(50% - 26px);
  }
}
.form-table td div {
  background: rgba(246, 247, 247, 0.5);
  padding: 6px 6px 15px 6px;
}
.form-table td div:last-of-type {
  padding-bottom: 6px;
}
.osec-text-center {
  text-align: center;
}
input[readonly],
textarea[readonly] {
  color: #818181;
}
input[readonly]:focus-visible,
textarea[readonly]:focus-visible {
  outline: 0;
  box-shadow: none;
}
a .dashicons {
  text-decoration: none;
}
.js-export {
  white-space: pre;
}
