#ai1ec-embedding ul {
  padding-left: 1em;
  list-style: revert;
}
#ai1ec-embedding code {
  white-space: normal;
  display: inline-table;
}
#poststuff .postbox .inside {
  padding-top: 1em;
  padding-bottom: 0.5em;
}
@media screen and (min-width: 783px) {
  #poststuff .postbox .inside {
    padding: 0.5em 26px 1em;
  }
}
