.theme-info {
    padding: 1em .75em 0;
}
.theme-info,
.theme-screenshot {
    cursor: auto;
}
.theme-screenshot > img {
    height: auto;
    width: 100%;
    max-width: 100%;
}
.theme-info > div {
    margin-bottom: 1em;
}

.theme-tags {
    font-size: x-small;
}

.theme-templates {
    font-size: x-small;
}

.theme-templates > code{
    display: block;
    max-width: 100%;
    overflow-x: scroll;
    white-space: pre;
    direction:rtl;
    font-size: x-small;
}
