module.exports = {
    domain: 'https://ddev-wordpress.ddev.site',
    screenshotsDir: 'screen_shots', // No trailing slash
    headless: true,
    wpLogin: {
        admin: {
            user: 'admin',
            pass: 'password',
        }
    },
    AdminPageSettings: {
        weekDay: "1", // Monday.
        timeZone: 'Europe/Berlin'
    }
};
