<div class="ai1ec-form-group">
    <label for="osec_yearly_count" class="ai1ec-control-label ai1ec-col-sm-3">
        {{ label }}:
    </label>
    <div class="ai1ec-col-sm-9">
        {{ count_input|raw }}
    </div>
</div>

<div class="ai1ec-form-group">
    <label for="osec_yearly_date_select" class="ai1ec-control-label ai1ec-col-sm-3">
        {{ yearly_date_select_label|raw }}:
    </label>
    <div class="ai1ec-col-sm-9">
        {{ year|raw }}
    </div>
</div>