<a class="ai1ec-calendar-link ai1ec-btn ai1ec-btn-default ai1ec-btn-sm ai1ec-tooltip-trigger"
   href="{{ href }}"
   data-placement="left"
   title="{{ tooltip }}"
>
    <i class="ai1ec-fa ai1ec-fa-calendar ai1ec-fa-fw"></i>
    <span class="ai1ec-hidden-xs">{{ text }}</span>
</a>
