{% extends "agenda.base.twig" %}
{% block read_more_link %}
	<a class="action-link" href="{{ event.permalink | e('html_attr') }}">
		{{ text_read_more }} <i class="ai1ec-fa ai1ec-fa-arrow-right"></i>
	</a>
{% endblock %}
