//
// @file
//
// Adds additional LESS rules to Plana.
//

@import "bootstrap/mixins.less";
@import "plana-flyout-menu";
@import "plana-toolbar";
@import "event-single";

@lineheight: 2.5;
@foregroundColor: var(--wp--preset--color--contrast, buttontext);
@backgroundColor: var(--wp--preset--color--accent, buttonFace);

.ai1ec-filter-selector,
.ai1ec-agenda-view .ai1ec-event.ai1ec-expanded,
.ai1ec-month-view .ai1ec-event:hover,
.ai1ec-month-view .ai1ec-event-summary,
.ai1ec-week-view .ai1ec-event-summary,
.ai1ec-oneday-view .ai1ec-event-summary,
.ai1ec-agenda-view .ai1ec-event,
.ai1ec-agenda-view .ai1ec-year,
.ai1ec-agenda-widget-view .ai1ec-year,
.ai1ec-modal-content,
.select2-drop,
.ai1ec-allday-badge,
.ai1ec-popover.ai1ec-popup,
.ai1ec-post_thumbnail,
.ai1ec-content_img {
	.ai1ec-box-shadow( none );
}
.ai1ec-agenda-view .ai1ec-date,
.ai1ec-agenda-widget-view .ai1ec-date {
	background: none;
	border-top: 1px dotted mix( @body-bg, @text-color, 80% ) !important;
}
.ai1ec-agenda-view .ai1ec-date.ai1ec-today,
.ai1ec-agenda-widget-view .ai1ec-date.ai1ec-today {
	background: rgba(244, 244, 191, 0.5);
	border-top: 1px dotted mix( @today-color, @text-color, 80% ) !important;
}
.ai1ec-agenda-view .ai1ec-date-title,
.ai1ec-agenda-widget-view .ai1ec-date-title,
.ai1ec-week-view .ai1ec-week .ai1ec-event-container,
.ai1ec-oneday-view .ai1ec-oneday .ai1ec-event-container {
	background-image: none; // Removes gradient.
	background-color: @agenda-date-bg;
	.ai1ec-box-shadow( none );
	color: @link-color;
	&:hover {
		color: @link-hover-color;
	}
}
.ai1ec-full-event th,
.ai1ec-excerpt .ai1ec-field-label {
	font-size: 1em;
	background: mix( @body-bg, @text-color, 94% );
	background: rgba(0,0,0,0.05);
}

.ai1ec-month-view .ai1ec-event-time,
.ai1ec-week-view .ai1ec-event-time,
.ai1ec-oneday-view .ai1ec-event-time {
	font-size: .75em;
}

.action-link {
	// TODO Is there any consistent logic in these vars?
	//@foregroundColor: var(--wp--preset--color--base, buttontext);
	//@backgroundColor: var(--wp--preset--color--contrast, buttonFace);
	@foregroundColor: var(--wp--preset--color--contrast, buttontext);
	@backgroundColor: var(--wp--preset--color--accent, buttonFace);
	@mutedColor: var(--wp--preset--color--cyan-bluish-gray, lightgray);
	@editColor: var(--wp-admin-theme-color, buttonFace);

	display: inline-block;
	padding: 0 .6em;
	line-height: 2.62;
	text-decoration: none;

	color: @foregroundColor;
	background: @backgroundColor;
	&[disabled] {
		color: @mutedColor;
		//border: 0;
	}

	min-width: 2em;
	text-align: center;
	margin-bottom: .25rem;

	&:not([disabled]):hover {
		background: @foregroundColor;
		color: @backgroundColor;
	}
	&.edit-link {
		&:not([disabled]):hover {
			background: @editColor;
		}
	}
	@media (min-width: 25rem) {
		padding-right: 1em;
		padding-left: 1em;
	}

	// Requires more specificity.
	&.osec-read-more {
		color: @foregroundColor;
		background: @backgroundColor;

		&:hover,
		&:focus,
		&:active {
			color: @backgroundColor;
			background: @foregroundColor;
		}
	}
}

.osec-subscribe-container {
	white-space: nowrap;
	.ai1ec-fa.ai1ec-fa-fw {
		width: 20px;
	}
}



//.alignfull {
//	outline: 2px dashed deeppink;
//}


//.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
//	max-width: var(--wp--style--global--content-size);
//	margin-left: auto !important;
//	margin-right: auto !important;
//}

table.ai1ec-month-view {
	margin-bottom: .25rem;
}
