.plana-toolbar {
  margin-bottom: .25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  font-size: var(--wp--preset--font-size--small);
  @media (min-width: 36.25rem) {
    font-size: var(--wp--preset--font-size--normal);
  }

  .osec-date-select {
    width: auto;
  }
}

.plana-pagination {
  display: inline-flex;
  flex-wrap: wrap;

  font-size: var(--wp--preset--font-size--small);
  @media (min-width: 36.25rem) {
    font-size: var(--wp--preset--font-size--normal);
  }

  .osec-date-select {
    z-index: 3;

    .ai1ec-calendar-title-short,
    .ai1ec-calendar-title {
      font-size: inherit;
    }

    .ai1ec-calendar-title {
      padding-left: 1em;

      @media (min-width: 25rem) {
        min-width: 3.5em;
        width: auto;
      }
    }
    &.action-link > i {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .action-link {
    >i {
      padding: 1em  0;
      @media (min-width: 36.25rem) {
        padding: .8125em  1em;
      }
    }
    line-height: 2.5;

    white-space: nowrap;
    min-width: 2.1em;
    @media (min-width: 28rem) {
      //min-width: 3.5em;
    }
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    &:last-of-type {
      border-right: 0;
    }
    &[disabled],
    &[disabled]:hover {
      border: 0;
      cursor: not-allowed;
    }

    &.ai1ec-next-year,
    &.ai1ec-prev-year,
    &.ai1ec-prev-month,
    &.ai1ec-next-month{
      >i {
        display: none;
        @media (min-width: 22rem) {
          display: inline-block;
        }
      }
    }

    @media (min-width: 25rem) {
      // Keep more compact than default (@25rem)
      padding-right: 1em;
      padding-left: 1em;
    }
  }
}
